  body {
    background-color: red;
  }
  .mainBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textBox {
    width: 30%;
    text-align: center;
  }
  h1 {
    color: #fff;
  }
  img {
    width: 20%;
    border: 1px solid #fff;
  }